/*

Add main CSS here

*/

.graticule {
  fill: none;
  stroke: #000;
}

.graticule.outline {
  stroke-width: 2px;
}

#rot {
  /*transform-origin: 0px 0px;*/
}
.btn {
  z-index: 100;
}

#projection-menu {
  position: absolute;
  right: 10px;
  top: 10px;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}




path {
  fill: none;
  stroke: #000;
}

path:hover {
  stroke: red;
}

circle {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

#subdivision {
  position: absolute;
  top: 20px;
  left: 20px;
}

#subdivision input {
  width: 200px;
}

.weight_styling {
  width: 400px;
  height: 100px;
  background-color: black;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;
}

img:hover {
  opacity: .5;
}

.ui-accordion > .ui-accordion-header {
  background: steelblue;
  color: white;
  font-family: Helvetica Neue;
}

.ui-accordion > .ui-accordion-content {
  padding: 0px !important;
}

.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

.carousel-inner > .item > img,
#myCarousel,
.carousel-inner > .item > a > img {
      width: 100px;
      height: 100px;
  }

.carousel-control.Right {
  right: 0;
  left: auto;
}

.carousel-control.Left {
  right: auto;
  left: 0;
}

#myCarousel {
  /*margin-right: -100px !important;*/
}


.bar {
  fill: steelblue;
  border-top-left-radius: 5px;
}

.rect {
  color: red;
}

.bar:hover {
  fill: brown;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
