/*

Add main CSS here

*/

.carousel-inner > .item > img,
#myCarousel,
.carousel-inner > .item > a > img {
      width: 100px;
      height: 100px;
  }

.carousel-control.Right {
  right: 0;
  left: auto;
}

.carousel-control.Left {
  right: auto;
  left: 0;
}


.bar {
  fill: steelblue;
  border-top-left-radius: 5px;
}

.rect {
  color: red;
}

.bar:hover {
  fill: brown;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
